<div class="bg-night py-5">
  <h2 class="mb-5 text-light text-center">Khách hàng bình chọn</h2>
  <div class="container d-flex justify-content-around">
    <img src="../static/image/flower.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
    <img src="../static/image/hand.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
    <img src="../static/image/hand.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
    <img src="../static/image/hand.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
  </div>
  <div class="container d-flex justify-content-around mt-5">
    <img src="../static/image/hand.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
    <img src="../static/image/hand.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
    <img src="../static/image/hand.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
    <img src="../static/image/hand.jpg" alt="" class="w-200 h-200 img-thumbnail object-fit-cover">
  </div>
</div>
