<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">Avatar</label>
      <input type="text" name="image" value="{{ champ.image }}">

      <br>
      
      <label for="">Name</label>
      <input type="text" name="name" value="{{ champ.name }}">

      <br>

      <label for="">Role</label>
      <input type="text" name="role" value="{{ champ.role }}">

      <br>

      <input type="submit" value="Done">
    </form>
  </body>
</html>
