<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .search-box{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 9%;
      }
    </style>
    {% include 'meta-data.html' %}
    {% include 'meta-data-mobile.html' %}
  </head>
  <body>
    <!-- FRONT-END-HEADER -->
    {% include 'homepage-mobile/header.html' %}

        {% for cigar in cigars %}
            <img src="../../static/images/{{ cigar.brand }}/{{ cigar.image }}" width="100" height="100">
            <p>{{ cigar.name }}</p>
        {% endfor %}

    <form class="search-box" method="post">

      <input type="search" name="name" list="CigarNames" placeholder="" required>
      <datalist id="CigarNames">
        {% for cigar in cigars %}
          <option value="{{ cigar.name }}">
        {% endfor %}
      </datalist>

      <br><br>

      <input type="submit" value="Search">
      <input type="reset" value="Reset">
    </form>

    <!-- FRONT-END-FOOTER -->
    {% include 'homepage-mobile/footer.html' %}
  </body>
</html>
